@import 'style';

.project-title{
    margin-top: 120px;

    a:link, a:visited{
        color: $lightgreen;
        text-decoration: none;
        font-weight: bolder;
    }

    h2{
        color: black;
    }
    h5{
        font-family: 'Lato', sans-serif;
        letter-spacing: 0.1rem;
        color: $darkgreen;
        font-weight: 300;
    }
    .btn-primary{
        background-color: $darkgreen;
        border: $darkgreen;
    }
    .btn-primary:hover{
        background-color: $lightgreen;
        border: $lightgreen;
    }  
}

.project-detail{
    small{
        font-size: 0.6rem;
        a:link, a:visited{
            color: $lightgreen;
            text-decoration: none;
        }
    }
    h5{
        color: black;
    }
    .see-more1{
        text-align: left;
    }
    .see-more2{
        text-align: right;
    }
    .see-more1,.see-more2{
        a:link,a:visited{
            font-family: 'Lato', sans-serif;
            letter-spacing: 0.1rem;
            color: $darkgreen;
            text-decoration: none;
        }
        a:hover{
            opacity: 0.8;
        }
    }
}


footer{
    background-color: $backlightgray;
}