$assetPath :"/img";

body{
    background-color: rgb(247, 247, 247);
    overflow-x: hidden;
}

nav,h1{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1rem;
    color: white;
}
h2{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1rem;
    font-weight:300;
}

p,table{
    font-family: 'Playfair Display', serif;
    font-weight:lighter;
}

.hero{
    background-image: url(#{$assetPath}/top.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    @media only screen and (max-width: 576px) {
        background-image: url(#{$assetPath}/top_sm.jpeg);
    }
    // on scroll bg
    .navbar.nav-bg{
            background-color: rgba(0, 0, 0, 0.9);
    }

    .navbar-dark{
        a:link{
            color: white;
        }
        a:hover{
            color: rgb(193, 193, 193);
        }
        a:visited{
            color: white;
        }
    }

    .title{ 
        z-index: 1;
        text-align: center;
        color: white;
    
        h4{
            font-family: 'Playfair Display', serif;
            font-weight:lighter;
            letter-spacing: 0.1rem;
        }
    }

    .circle{
        width: 280px;
        height: 280px;
        top: 20%;
        left: 40%;
        background-color: #738200;
        mix-blend-mode: multiply;
        border-radius: 50%;
        @media only screen and (max-width: 576px) {
            width: 160px;
            height: 160px;
        }
    }

    .arrow{
        top:90%;
        left: 50%;
    }

}

// skill chart
.row.g-ex {
    margin-left: -10px;
    margin-right: -10px;
    [class*="col-"] {
        padding-left: 80px;
        padding-right: 80px;
    }
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;

    .skill-title{
        width: 25%;
    }

    .chart { 
        display: grid;  
        border: 8px solid #738200;  
        position: relative;  
        overflow: hidden; 
        }
    .chart-rest{
        display: grid;  
        border: 8px solid #d7d7d7;  
        position: relative;  
        overflow: hidden;
    }
    
    .html{
        width: 80%;
    }
    .html-r{
        width: 20%;
    }
    .css{
        width: 70%;
    }
    .css-r{
        width: 30%;
    }
    .bootstrap{
        width: 60%;
    }
    .bootstrap-r{
        width: 40%;
    }
    .sass{
        width: 40%;
    }
    .sass-r{
        width: 60%;
    }
    .js{
        width: 50%;
    }
    .js-r{
        width: 50%;
    }
    .react{
        width: 20%;
    }
    .react-r{
        width: 80%;
    }
    .angular{
        width: 20%;
    }
    .angular-r{
        width: 80%;
    }
    .php{
        width: 30%;
    }
    .php-r{
        width: 70%;
    }
    .ai{
        width: 90%;
    }
    .ai-r{
        width: 10%;
    }
    .ps{
        width: 85%;
    }
    .ps-r{
        width: 15%;
    }
    .jp{
        width: 100%;
    }
    .en{
        width: 80%;
    }
    .en-r{
        width: 20%;
    }
    .nl{
        width: 20%;
    }
    .nl-r{
        width: 80%;
    }
}
